@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');
a {
    color: #7069fa;
    cursor: pointer;
    text-decoration: none;
    transition: color 0.1s ease-in-out;
    font-family: 'Poppins', sans-serif;
}

#nav__title {
    color: white;
    cursor: pointer;
    text-decoration: none;
    transition: color 0.8s ease-in-out;
    font-weight: 500;
}

a:hover {
    color: #8c86ff;
}

a.red {
    color: #7069fa;
}